<script lang="ts">
	import { History } from './historyDef';
	import About from './About.svelte';
	import Personal from './Personal.svelte';
	import Print from './Print.svelte';
	import Tech from './Tech.svelte';

	// Get and prepare the history data
	export let data: History.IHistory;
	let mode: History.Mode = History.Mode.Personal;
	History.groom(data);
	
	function showPerson() : void {
		mode = History.Mode.Personal;
	}
	function showAbout() : void {
		mode = History.Mode.About;
	}
	function showPrint() : void {
		mode = History.Mode.Print;
	}
	function showTech() : void {
		mode = History.Mode.Tech;
	}
</script>

<svelte:head>
	<script src="https://kit.fontawesome.com/e9c55e2d0a.js" crossorigin="anonymous"></script>
	<link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Raleway">
	<title>{data.name}</title>
</svelte:head>

<header>
	<nav>
		<i on:click={showPerson} title="Click to show personal information" class="far fa-user" class:selected={mode === History.Mode.Personal}></i>
		<i on:click={showTech} title="Click to show tools and tech" class="fas fa-toolbox" class:selected={mode === History.Mode.Tech}></i>
		<i on:click={showPrint} title="Click for print view" class="fas fa-print" class:selected={mode === History.Mode.Print}></i>
		<i on:click={showAbout} title="Click to show information about this app"  class="far fa-question-circle" class:selected={mode === History.Mode.About}></i>
	</nav>
	<h1 title="Resume for {data.name}">
		{data.name} 
	</h1>
</header>
{#if mode === History.Mode.About}
	<About></About>
{:else if mode == History.Mode.Print}
	<Print data={data}></Print>
{:else if mode == History.Mode.Tech}
	<Tech data={data}></Tech>
{:else if mode == History.Mode.Personal || mode === History.Mode.Employer}
	<Personal data={data} bind:mode></Personal>
{/if}

<style lang="scss">
	@use 'token' as *;

	* {
		padding: 0;
		margin: 0;
		color: $col-base;
	}

	:global(a) {
		color: $col-hyper;
	}

	:global(body) {
		padding: 0;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 4rem 1fr;
	}

	header {
		font-family: 'Raleway', Arial, sans-serif;
		
		vertical-align: middle;
		background-color: $col-feature;
		box-shadow: 0px 2px 5px $col-shadow;
		padding: 0 1rem;
		color: $col-base;
		text-align: left;

		
		h1 {
			font-weight: normal;
			font-size: 3rem;
			padding-left: 1rem;
			white-space: nowrap;
    		max-width: 50%;
    		overflow: hidden;
    		text-overflow: ellipsis;
		}

		nav {
			float: right; 
			font-size: 2rem; 
			padding: 0.5rem;
			margin-right: -1rem;
		}

		i {
			padding: 5px;
			border-radius: 10px;
			border: 2px solid transparent;

			&:hover {
				color: $col-feature-outline;
			}

			&.selected {
				border-color: $col-feature-outline;
			}
		}
	}
	@media only screen and (max-width:750px), only screen and (max-height:750px) {
		:global(html) {
			font-size: 8px;
		}
	}
	
	@media (min-width: 640px) {
		:global(body) {
			max-width: none;
			max-height:100%;
		}
	}
	@media print {
		header {
			display: none;
		}

		@page {
			margin: 1rem;
		}
	}
</style>