<script lang="ts">
    import type { History } from './historyDef';
	import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();
    
    export let context: History.IContext;  
    export let current: History.IContext;

    function onSelect() {
        dispatch('select', context);
    }
</script>
<style lang="scss">
    @use 'token' as *;
        
    div.employ 
		{
			padding:5px;
			text-align:center; 
			border-radius:10px; display:inline-block;
			font-weight: 600;
			margin:0;
			position: absolute;
			border: 1px solid #6495ed60;
			background: #6495ed45;
            cursor: pointer;
            user-select: none;

            &.selected {
                border-color: $col-feature;
                background: $col-feature-faint;
            }

            &:focus {outline:none;}
		}
</style>
<div title="{context.employer.name}" on:click|stopPropagation={onSelect} on:focus={onSelect} tabindex=0 class="employ" class:selected={context == current} style="left:{context.bubble.left}px; top:{context.bubble.top}px; width: {context.bubble.width}px; height: {context.bubble.height}px;">
    {context.employer.name}
    {#if context.context}
        {#each context.context as c}
            <svelte:self context={c} current={current} on:select={(e) => dispatch('select', e.detail)}></svelte:self>
        {/each}
    {/if}
</div>