<script lang="ts">
    import { History } from './historyDef';

    export let current: History.IContext;
</script>

<section class="company">
    <h1>
        {current.employer.name}
        {#each History.parents(current) as p}
            <span>/ {p.employer.name}</span>
        {/each}
        {#if current.employer.icon}<img class="logo" src="logo\{current.employer.icon}" alt="{current.employer.name} logo" />{/if}
    </h1>
    <span class="time">{History.months[current.from.month-1]} {current.from.year} {#if current.to}to {History.months[current.to.month-1]} {current.to.year}{:else}onwards{/if}</span>
    <p>{current.employer.about}</p> 
    <p>{current.overview}</p> 
    {#if current.projects}  
        {#each current.projects as p}
            <div class="project">
                <h3>{p.title}</h3>
                <div class="twin">
                    <p>{@html p.about}</p>
                    <p>{@html p.impact}</p>
                </div>
            </div>
        {/each}
    {/if}
    <div class="foot">
        {#if current.lang}
            <div class="tech">
                {#if current.lang.primary}
                    <span class="label">Primary Languages: </span><span>{current.lang.primary.join(", ")}</span>
                {/if}
            </div>
            <div class="tech">
                {#if current.lang.tertiary}
                    <span class="label">Other Languages: </span><span>{current.lang.tertiary.join(", ")}</span>
                {/if}
            </div>
        {/if}
        {#if current.tech}
            <div class="tech">
                {#if current.tech.primary}
                    <span class="label">Primary Tools: </span><span>{current.tech.primary.join(", ")}</span>
                {/if}
            </div>
            <div class="tech">
                    {#if current.tech.tertiary}
                    <span class="label">Other Tools: </span><span>{current.tech.tertiary.join(", ")}</span>
                {/if}
            </div>
        {/if}
    </div>
</section>


<style lang="scss">
    @use 'token' as *;

    h1
    {
        color: $col-feature;
        font-size: 3rem;
        margin-block-start: 1rem;
        margin-block-end: 1rem;

        span
        {
            color: $col-feature-fade;
            font-size: 1.5rem;
        }
    }
    h3
    {
        font-size: 1.5rem;
        margin-block-end: 0;
    }

    section 
    {
        margin: 1rem 2rem;
        break-inside: avoid;
    }

    span.time
    {
        color: $col-hyper-fade;
    }

    img.logo 
    {
        float: right;
        height: 3rem;
    }

    p
    {
        max-width: 60rem;
        text-align: justify;
        margin: 1rem;
    }

    div
    {
        break-inside: avoid;
    }

    div.twin 
    {
		display: flex;
		flex-flow: row wrap;
        justify-content: space-between;
        max-width: 120rem;
		p {
			//flex: 1 0;
            flex-basis: 45%;
		}
	}

    div.tech
    {
        span 
        {
            vertical-align: top;
            display: inline-block;
            max-width: calc(80% - 11rem);

            &.label
            {
                color: $col-hyper-fade;
                min-width: 11rem;
                text-align: right;
                padding-right: 0.5rem;
            }
        }
    }

    div.foot
    {
        margin-top: 1rem;
        padding: 0.5rem 0;
        border-top: 1px solid $col-hyper-fade;
        border-bottom: 1px solid $col-hyper-fade;
    }
</style>