<script lang="ts">
	import { History } from './historyDef';
	import Timeline from './Timeline.svelte';

	// Get and prepare the history data
	export let data: History.IHistory;
	export let mode: History.Mode;
	
	let current:History.IContext = null;
	let timeline:Timeline = null;
	let showtime:boolean = true;

	let sequence = History.map(data.context, (c) => c).sort(History.sortByToDesc);
	$: index = sequence.indexOf(current);
	function showPrev(): void {
		if (index > 0) {
			current = sequence[index-1];
			timeline.scrollTo(current);
		}
	}
	function showNext() : void {
		if (index < sequence.length - 1) {
			current = sequence[index+1];
			timeline.scrollTo(current);
		}
	}
	function showEmploy(e) {
		current = e.detail;
		mode = History.Mode.Employer;
	}
	function toggleTimeline() {
		showtime = !showtime;
	}
</script>
<main class="{History.Mode[mode]}" class:showtime={showtime} >
	{#if mode === History.Mode.Personal}
		<section class="title">
			<h1>
				{data.name}
			</h1>
			<address>
				Phone: <a href="tel:{data.phone}">{data.phone}</a> <br/>
				Email: <a href="mailto:{data.email}">{data.email}</a>
			</address>
		</section>
		<section class="personal">
			{#if data.picture}
				<img src="{data.picture.image}" alt="{data.picture.alt}}" style="height:10rem; margin-right:2rem;  margin-top: 2rem;" />
			{/if}
			<div style="">
				<h2>About me</h2>
				{#each data.about as p}
					<p>{p}</p>	
				{/each}
				<h2>Aspirations</h2>
				{#each data.aspiration as p}
					<p>{p}</p>	
				{/each}
				<ul class="instructions">
					<li>Click a company on the timeline above to see details of previous employment</li>
					<li>Click the icons in the heading to view other information</li>
				</ul>
			</div>
		</section>
	{:else if mode === History.Mode.Employer}
		<section class="title" style="position:relative;">
			<h1>
				{current.employer.name}
				{#if current.employer.url}<a href="{current.employer.url}" target="blank" class="employ"><i style="font-size:1.5rem;" class="fas fa-external-link-alt"></i></a>{/if}
				{#if current.employer.icon}<img class="logo" src="logo\{current.employer.icon}" alt="{current.employer.name} logo" />{/if}
			</h1>
			<ul class="roles" title="Role" >{#each current.roles as role}<li>{role}</li>{/each}</ul>
			<span>{History.months[current.from.month-1]} {current.from.year} {#if current.to}to {History.months[current.to.month-1]} {current.to.year}{:else}onwards{/if}</span>
			<i class="fas fa-chevron-circle-left prev {index <= 0 ? "disabled" : ""}" on:click={showPrev}></i>
			<i class="fas fa-chevron-circle-right next {index >= sequence.length - 1 ? "disabled" : ""}" on:click={showNext}></i>
		</section>
		<section class="about">
			<h2>About</h2>
			<p>{current.employer.about}</p>
			<p>{current.overview}</p>
			{#if current.projects}
			<hr />
				<h2>Projects</h2>
				<div class="proj">
					{#each current.projects as proj}
						<h3>{proj.title}</h3>
						<p>{@html proj.about}</p>
						<p>{@html proj.impact}</p>
					{/each}
				</div>
			{/if}
		</section>
		<section class="tech">
			<div>
				{#if current.lang}
					<h2>Languages:</h2>
					<div class="twin">
						<ul class="primary">
							{#each current.lang.primary as l}<li>{l}</li>{/each}
						</ul>
						<ul class="tertiary">
							{#each current.lang.tertiary as l}<li>{l}</li>{/each}
						</ul>
					</div>
				{/if}
				{#if current.tech}
					<h2>Tools and Tech:</h2>
					<div class="twin">
						<ul class="primary">
							{#each current.tech.primary as l}<li>{l}</li>{/each}
						</ul>
						<ul class="tertiary">
							{#each current.tech.tertiary as l}<li>{l}</li>{/each}
						</ul>
					</div>
				{/if}
			</div>
		</section>
	{/if}
	<section class="timeline">
		<Timeline context={data.context} current={current} on:select={showEmploy} bind:this={timeline}></Timeline>
	</section>
	<div class="chevron"><i class="far" class:fa-caret-square-up={showtime} class:fa-caret-square-down={!showtime} on:click={toggleTimeline}></i></div>
</main>

<style lang="scss">
	@use 'token' as *;

	div.chevron {
		position: absolute;
		font-size:1.5rem;
		color: $col-base-fade;
		&:hover {
			color: $col-feature;
		}
		right:0;
		top:0;
	}

	main
	{
		overflow-y: auto;
		position: relative;
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 0px 7rem 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 10px;

		&.showtime {
			grid-template-rows: 260px 7rem 1fr;

			div.chevron {
				top: 250px;
			}
		}

		section.timeline { 
			position: relative;
			grid-area: 1 / 1 / 2 / 3; 
			overflow: hidden;
		}

		section.title {
			grid-area: 2 / 1 / 3 / 3; 
		}

		section.personal {
			grid-area: 3 / 1 / 4 / 3; 
		}

		section.about {
			grid-area: 3 / 2 / 4 / 3; 
			overflow-y: auto;
		}

		section.tech {
			grid-area: 3 / 1 / 4 / 2; 
			overflow-y: auto;
		}
	}

	i.prev, i.next {
		position: absolute; 
		bottom:-1rem; 
		font-size:2.2rem;
		&:hover 
		{
			color: $col-feature;
		}

		&.disabled {
			color: $col-base-faint;
		}
	}

	i.prev {
		left:-3rem;
	}

	i.next {
		right:-3rem;
	}

	div.twin {
		display: flex;
		flex-flow: row wrap;

		ul {
			flex: 1 0;
		}
	}

	section.title 
	{ 
		margin: 0 4rem;
		border-bottom: 1px solid $col-base-faint;

		ul {
			margin: 0;
		}
		h1 
		{
			margin: 0;
			color: $col-feature;
			i 
			{
				color: $col-base-fade;
			}
		}

		address
		{
			font-style: normal;
		}	
	}

	section.personal
	{
		margin-left: 2rem;

		img 
		{
			vertical-align:top;
		}
		div
	    {
    	    display:inline-block;
    	}

		ul
		{
			list-style: none;
			margin-top: 3rem;

			li 
			{
				color: $col-base-fade;
			}
		}
	}

	section.about 
	{ 
		margin-right: 4rem;
	}

	section.tech 
	{ 
		margin-left: 4rem;
		transform: scaleX(-1);
		> div {
			transform: scaleX(-1);
		}

		ul.primary, ul.tertiary {
			padding-inline-start: 2rem;
		} 

		ul.tertiary {
			color: $col-base-fade;
		}
	}

	hr {
		border: none;
		border-bottom: 1px solid $col-base-faint;
	}

	div.proj {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;

		h3 {
			grid-column: span 2;
		}	
	}

	a.employ {
		font-size:0.4em;
		//vertical-align: bottom;
		color: $col-base-faint;
	}
	ul.roles {
		list-style: none;
		padding-inline-start: 0px;
		li {
			display: inline;
			
			&::after {
				content: ' / ';
				color: $col-base-faint;
			}
			&:last-child::after 
			{
				content:none;
			}
		}
	}

	img.logo 
	{
		float: right;
		padding-top: 1rem;
		height: 3rem;
	}
	main {
		font-family: 'Raleway', Arial, sans-serif;
		text-align: justify;

		h1 {
			font-size: 3rem;
			font-weight: 400;

			i 
			{
				font-size: 2rem;
				vertical-align: middle;
			}
		}

		h2 {
			margin: 1.5rem 0 1rem 0;
		}

		p {
			max-width: 60em;
			margin: 1rem;
		}
	}

	@media (max-width:750px), (max-height:750px) {
		section.timeline {
			transform: scale(0.5, 0.5);
			transform-origin: 0 0;
			width: 200%;
			height: 200%;
		}

		main.showtime {
			grid-template-rows: 130px 7rem 1fr;
			div.chevron {
				top:120px;
				right: 10px;
			}			
		}

	}


	@media (min-width: 640px) {
		main {
			max-width: none;
			max-height:100%;
		}
	}
</style>