<script lang="ts">
//	import { claim_text } from 'svelte/internal';
	import { History } from './historyDef';
	import EmployPrint from './EmployPrint.svelte';

	// Get and prepare the history data
	export let data: History.IHistory;
	let mode: History.Mode = History.Mode.Print;
	History.groom(data);
	
	let sequence = History.map(data.context, (c) => c).sort(History.sortByToDesc);
</script>

<main>
	<section class="title">
		<h1>
			{data.name}
		</h1>
		<address>
			Phone: <a href="tel:{data.phone}">{data.phone}</a> <br/>
			Email: <a href="mailto:{data.email}">{data.email}</a>
		</address>
	</section>
	<section class="personal">
		{#if data.picture}
			<img src="{data.picture.image}" alt="{data.picture.alt}}" style="height:10rem; margin-right:2rem;  margin-top: 2rem;" />
		{/if}
		<div style="">
			<h2>About me</h2>
			{#each data.about as p}
				<p>{p}</p>	
			{/each}
			<h2>Aspirations</h2>
			{#each data.aspiration as p}
				<p>{p}</p>	
			{/each}
		</div>
	</section>
	{#each sequence as c}
		<EmployPrint current={c}></EmployPrint>
	{/each}
</main>

<style lang="scss">
	main {
		overflow-y: auto;
		font-family: 'Raleway', Arial, sans-serif;
		text-align: justify;

		h1 {
			font-size: 3rem;
			font-weight: 400;
		}

		h2 {
			margin: 1.5rem 0 1rem 0;
		}

		p {
			max-width: 60em;
			margin: 1rem 0;
		}

		section.title {
			text-align: center;
			margin: 0 4rem;
			border-bottom: 1px solid RGBA(0,0,0,0.1);

			h1 
			{
				color: #f40D;
			}

			address
			{
				font-style: normal;
			}	
		}

		section.personal {
			text-align: center;
			margin: 0 2rem;

			p {
				margin: 1rem;
			}

			img 
			{
				vertical-align:top;
			}

			div 
			{ 
				display: block;
				text-align: justify; 
			}
		}

	}

	@media (min-width: 640px) {
		main {
			max-width: none;
			max-height:100%;
		}
	}
	@media print
	{
		main
		{
			overflow: visible;
		}

		div
		{
			break-inside: avoid;
		}

		@page
		{
			margin: 1rem;
		}
	}
</style>