<script lang="ts">
    import { History } from './historyDef';
    import Techline from './TechLine.svelte';

    //export let current: History.IContext;    
    export let data: History.IHistory;

    const sequence = History.map(data.context, (c) => c).sort(History.sortByToDesc);
    const origin = History.nowMonthy();

	// Establish the base display data
    let langInfo:History.TechSet = new History.TechSet();
    let techInfo:History.TechSet = new History.TechSet();
        
    for(var c of sequence)   
    {
        langInfo.addTech(origin, c, c.lang?.primary, History.Tech.Primary);
        langInfo.addTech(origin, c, c.lang?.tertiary, History.Tech.Secondary);
        techInfo.addTech(origin, c, c.tech?.primary, History.Tech.Primary);
        techInfo.addTech(origin, c, c.tech?.tertiary, History.Tech.Secondary);
    }
    
    let maxMonth: number = 0;
    for(var i of langInfo.allTech)
    {
        maxMonth = Math.max(maxMonth, i.byMonth.length);
    }
    for(var i of techInfo.allTech)
    {
        maxMonth = Math.max(maxMonth, i.byMonth.length);
    }

    let showPrimary: boolean = true;
    let showTertiary: boolean = true;
    $: showTech = History.showTech(showPrimary, showTertiary);
    let showLanguage: boolean = true;
    let showTools: boolean = true;
    let minYears: number = 0;
</script>
<main>
    <section class="info">
        <p>This is the list of programming languages, tools and technologies used.  The experience is measured by the time employed by the company using them.  As such it is only an approximation for experience or exposure to the technology.  To assist with understanding they are also classified as primary (mostly) used, or secondary (also) used categories.  Use the filters on the right to shorten the list.</p>
    </section>
    {#if showLanguage}
        <h1>Programming Languages</h1>
        <Techline allTech={langInfo.allTech} {showTech} {maxMonth} {minYears}></Techline>
    {/if}
    {#if showTools}
        <h1>Tools & Technologies</h1>
        <Techline allTech={techInfo.allTech} {showTech} {maxMonth} {minYears}></Techline>
    {/if}
    <div class="tool">
        <label title="Show the programming languages"><input type="checkbox" bind:checked={showLanguage}> Languages</label>
        <label title="Show the tools and technology"><input type="checkbox" bind:checked={showTools}> Tools</label>
        <hr/>
        <label title="Show the technology primarily used"><input type="checkbox" bind:checked={showPrimary}> Primary</label>
        <label title="Show the technology also used"><input type="checkbox" bind:checked={showTertiary}> Secondary</label>
        <hr/>
        <select bind:value={minYears} title="Select the minimum number of years for using the technology">
            <option value="0">No minimum</option>
            <option value="1">1 Year</option>
            <option value="2">2 Years</option>
            <option value="3">3 Years</option>
            <option value="5">5 Years</option>
            <option value="8">8 Years</option>
            <option value="13">13 Years</option>
            <option value="20">20 Years</option>
        </select>
    </div>
</main>
<style lang="scss">
   	@use 'token' as *;

    main {
        font-family: 'Raleway', Arial, sans-serif;
        overflow-y: auto;
    }

    h1 {
        font-size: 3rem;
        color: $col-feature;
        padding: 0 3rem;
    }

    div.tool {
        border: 1px solid $col-base-fade;
        box-shadow: 3px 3px 8px $col-base-fade;
        border-radius: 5px;
        padding: 1rem;
        position: fixed;
        right: 2rem;
        top: 5rem;
        background-color: $col-see-through;
    }

    section.info {
        max-width: 60%;
        padding: 1rem 3rem;
    }
</style>