<script lang="ts">
    import { History } from './historyDef';

    //export let current: History.IContext;    
    export let allTech: Array<History.TechInfo>;
    export let showTech: History.Tech;
    export let maxMonth: number;
    export let minYears: number;

    const mp:number = 75 / maxMonth;
</script>
<section>
    {#each allTech as i}
        {#if i.isVisible(showTech, minYears * 12)}
            <svg>
                <text x="20%" y="1rem">{i.name}</text>
                <line y1="1.2rem" y2="1.2rem" x1="0" x2="100%"></line>
                <text x="20%" y="2.2rem">{i.duration(showTech)}</text>
                {#each i.segments as s}
                    {#if History.isVisible(s, showTech)}
                        <rect rx=".5rem" ry=".5rem" x="{(20 + mp * s.from).toFixed(3)}%" y=".7rem" width="{(mp * (s.to - s.from + 1)).toFixed(3)}%" height="1rem" class="{History.Tech[s.tech]}"></rect>
                    {/if}
                {/each}
            </svg>
        {/if}
    {/each}
</section>
<style lang="scss">
    @use 'token' as *;

    svg {
        height: 4rem;
        width: 100%;
        text {
            fill: $col-base;
            font-size: 1.2rem;
            font-family: 'Raleway', Arial, sans-serif;
            text-anchor: end;
        }

        line {
            stroke: $col-base-faint;
            stroke-width: 1;
        }

        rect {
            
            stroke-width: 1;

            &.Primary {
                stroke: $col-base;
                fill: $col-feature;
            }

            &.Secondary {
                stroke: $col-base-fade;
                fill: $col-feature-faint;   
            }
        }
    }
</style>