<script lang="ts">
    import { History } from './historyDef';
	import Bubble from './Bubble.svelte';
	import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();

    //export let current: History.IContext;    
    export let context: Array<History.IContext>;
    export let current: History.IContext;

    // Calculate the display window
	let from = Math.min(...History.map(context, (c:History.IContext):number => c.from.year));
    let to =  Math.max(...History.map(context, (c:History.IContext):number => c.to.year));
    
	// Establish the base display data
	let years:number[] = [];
    
	for(let y=to; y>= from; --y) {
		years.push(y);
	}

	History.calcBubbles(context, to);

	// Nest sub - bubbles
	History.adjustSub(context, -18);
    
	export function scrollTo(c:History.IContext): void {
		const l = History.pxMonth(History.cntMonth(c.to, to));
		const r = History.pxMonth(History.cntMonth(c.from, to));
		const s = document.getElementById("timeWindow");
		s.scrollLeft = (r + l - s.clientWidth) / 2;
	}
</script>

<div id="timeWindow" style="position: relative; max-width:100%;">
    {#each years as year}
        <div class="year">
            <span>{year}</span>
            <div class="month">
                {#each History.dtoj as month}
                    <span title="{month} {year}">{month.charAt(0)}</span>
                {/each}
            </div>
            <span>{year}</span>
        </div>
    {/each}
    <div class="employers" style="top:50px;">
        <!-- left= month*24-12, width=monthspan*24-12 - list oldest to newest -->
        {#each context as c}
            <Bubble context={c} current={current} on:select={(e) => dispatch('select', e.detail) } />
        {/each}
    </div>
</div>

<style lang="scss">
    @use 'token' as *;

    @media (max-width:750px), (max-height:750px) {
		#timeWindow {
			font-size: 2rem;
		}
	}

    #timeWindow 
    {
		display: block;
		overflow-x: scroll;
		white-space: nowrap;
        margin-top: 5px;
	}	
	div.employers 
	{
		position: absolute;
	}
    div.year 
    {
        font-size: 0.7em;
        text-align: center;
        color: $col-hyper;
        display: inline-block;
        border-right: 1px solid RGBA(0,0,0,0.2);
        div.month {
            color: $col-hyper-fade;

            span {
                display: inline-block;
                border-right: 1px solid RGBA(0,0,0,0.1);
                text-align: center;
                width: 15px;
                height: 200px;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }	
</style>