@use "sass:color";

$col-hyper: #229;
$col-hyper-fade: #2296;

$col-base: #223;
$col-base-fade: color.adjust($col-base, $alpha:-0.5);
$col-base-faint: color.adjust($col-base, $alpha:-0.9);

$col-feature: #f40d;
$col-feature-fade: color.adjust($col-feature, $alpha:-0.4);
$col-feature-faint: color.adjust($col-feature, $alpha:-0.7);
$col-feature-outline: #eef9;

$col-shadow: #0009;
$col-see-through: #fffA;
